<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- GOOGLE FONTS -->
	<link rel="preconnect" href="https://fonts.googleapis.com/">
	<link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&amp;family=Poppins:wght@300;400;500;600;700;800;900&amp;family=Roboto:wght@400;500;700;900&amp;display=swap" rel="stylesheet"> 
     <link href="https://cdn.rawgit.com/harvesthq/chosen/gh-pages/chosen.min.css" rel="stylesheet"/>
	<link href="/cdn.jsdelivr.net/npm/@mdi/font@4.4.95/css/materialdesignicons.min.css" rel="stylesheet" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <!-- Data Tables -->
	<link href="/assets/plugins/data-tables/datatables.bootstrap5.min.css" rel='stylesheet'>
	<link href="/assets/plugins/data-tables/responsive.datatables.min.css" rel='stylesheet'>
	<!-- PLUGINS CSS STYLE -->
	<link href="/assets/plugins/daterangepicker/daterangepicker.css" rel="stylesheet">
	<link href="/assets/plugins/simplebar/simplebar.css" rel="stylesheet" />
	<!-- CSS -->
	<link id="css" href="/assets/css/ekka.css" rel="stylesheet" />
	<!-- FAVICON -->
	<link href="/assets/img/favicon.png" rel="shortcut icon" />
	<script src="/assets/plugins/jquery/jquery-3.5.1.min.js"></script>
	    	<!-- Common Javascript -->
	<script src="/assets/plugins/jquery/jquery.notify.min.js"></script>
	<script src="/assets/plugins/jquery/jquery.bundle.notify.min.js"></script>

    <title>Admin Panel</title>
</head>
<body class="ec-header-fixed ec-sidebar-fixed ec-sidebar-dark ec-header-light" id="body">
    {{{body}}}
	<!-- Chart -->
	<script src="/assets/plugins/charts/Chart.min.js"></script>
	<script src="/assets/js/chart.js"></script>

	<!-- Google map chart -->
	<script src="/assets/plugins/charts/google-map-loader.js"></script>
	<script src="/assets/plugins/charts/google-map.js"></script>
	<script src="/assets/plugins/simplebar/simplebar.min.js"></script>
	<script src="/assets/plugins/jquery-zoom/jquery.zoom.min.js"></script>
	<script src="/assets/js/bootstrap.bundle.min.js"></script>
	<script src="/assets/plugins/slick/slick.min.js"></script>
	<!-- Date Range Picker -->
	<script src="/assets/plugins/daterangepicker/moment.min.js"></script>
    <script src="/assets/plugins/daterangepicker/daterangepicker.js"></script>
	<script src="/assets/js/date-range.js"></script>

	<!-- Option Switcher -->
	<script src="/assets/plugins/options-sidebar/optionswitcher.js"></script>
<!-- Data Tables -->
	<script src="/assets/plugins/data-tables/jquery.datatables.min.js"></script>
	<script src="/assets/plugins/data-tables/datatables.bootstrap5.min.js"></script>
	<script src="/assets/plugins/data-tables/datatables.responsive.min.js"></script>
	<script src="https://requirejs.org/docs/release/2.3.5/minified/require.js"></script>
	<script src="/assets/js/ekka.js"></script>

</body>
</html>